## Search for text

In [1]:
import re

txt = "Ronaldo dari Portugal"
x = re.search("Portugal", txt)
print(x)

<re.Match object; span=(13, 21), match='Portugal'>

In [2]:
patterns = ["Ronaldo", "dari", "Portugal"]

for pattern in patterns :
        match = re.match(pattern, txt)
        if match :
            print(f"founded : {match}")
        else :
            print(f"Not found : {match}")

founded : <re.Match object; span=(0, 7), match='Ronaldo'>
Not found : None
Not found : None

## Regex findall function

In [3]:
text = "halo saya arvin dengan nomor telepon 081391780814 dan nomr rafi saya adalah 081911546940"

pattern = r'\d{12,13}'
matches = re.findall(pattern, text)

print(matches)

['081391780814', '081911546940']

## Regex substitute function

In [4]:
pattern = "rafi"
replace = "rafsurd"

substitute = re.sub(pattern, replace, text)

print(substitute)

halo saya arvin dengan nomor telepon 081391780814 dan nomr rafsurd saya adalah 081911546940

## Creating dummy data with Faker library

In [61]:
from faker import Faker

fake = Faker(locale='id_ID')

jumlah_data = 10

dummy_data = []

for _ in range(jumlah_data):
    nama = fake.name()
    nomor_telepon = fake.phone_number()
    alamat = fake.address()
    email = fake.email()
    
    data = f"Nama: {nama}\nNomor Telepon: {nomor_telepon}\nAlamat: {alamat}\nEmail: {email}\n"
    dummy_data.append(data)

file_name = "dummy_data.txt"
with open(file_name, "w") as file:
    for data in dummy_data:
        file.write(data + "\n")

print(f"{jumlah_data} data dummy telah disimpan dalam {file_name}.")

10 data dummy telah disimpan dalam dummy_data.txt.

In [62]:
print(dummy_data)

['Nama: Kiandra Puspasari\nNomor Telepon: +62 (0369) 596 4303\nAlamat: Gg. Rajiman No. 147\nSukabumi, BB 67490\nEmail: dwiandriani@example.org\n', 'Nama: Hani Yulianti\nNomor Telepon: (0803) 225-4846\nAlamat: Gg. Dr. Djunjunan No. 841\nBitung, Nusa Tenggara Timur 77610\nEmail: joko47@example.com\n', 'Nama: Sutan Jaka Firgantoro\nNomor Telepon: (058) 380-6584\nAlamat: Jalan Jamika No. 021\nPekanbaru, JI 19041\nEmail: vsitompul@example.org\n', 'Nama: Fitria Palastri\nNomor Telepon: +62 (45) 784 8127\nAlamat: Jalan W.R. Supratman No. 58\nBatu, SN 97149\nEmail: elatupono@example.net\n', 'Nama: Queen Mandasari\nNomor Telepon: +62-892-430-6124\nAlamat: Gang Dipenogoro No. 76\nTangerang Selatan, BB 84661\nEmail: zjanuar@example.net\n', 'Nama: Rini Lestari\nNomor Telepon: +62-063-980-8381\nAlamat: Jalan Cempaka No. 36\nSungai Penuh, BB 84797\nEmail: ramadanmaman@example.org\n', 'Nama: Fitriani Hidayat\nNomor Telepon: +62 (0324) 012 0207\nAlamat: Jl. Gegerkalong Hilir No. 886\nBandung, Gorontalo 40031\nEmail: usadalintang@example.org\n', 'Nama: Jasmin Marpaung\nNomor Telepon: +62 (19) 739-0265\nAlamat: Gang Raya Ujungberung No. 1\nCirebon, SR 08516\nEmail: lestaridarmanto@example.com\n', 'Nama: Lanang Sihombing, S.IP\nNomor Telepon: +62 (27) 107 5604\nAlamat: Gg. H.J Maemunah No. 692\nPrabumulih, Jawa Tengah 91065\nEmail: yanisaputra@example.com\n', 'Nama: Zelda Melani\nNomor Telepon: +62 (62) 592-7865\nAlamat: Gg. Sukajadi No. 2\nBekasi, SS 24515\nEmail: mahfudhandayani@example.net\n']

## Create a Regex pattern to capture onyly E-mail and phone number

In [67]:
import pandas as pd
import numpy as np

if not isinstance(dummy_data, str):
    dummy_data = str(dummy_data)

df = pd.DataFrame()

def capture_email(data) :
    email = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    df['Email'] = re.findall(email, data)
    
def capture_phone_number(data) :
    phone = r'\+?\D\d{2,4}(?:[-.()\s]*\d{2,4}){2,4}(?:x\d+)?'
    df['Phone_number'] = re.findall(phone, data)

In [68]:
capture_email(dummy_data)
capture_phone_number(dummy_data)

In [69]:
df

                         Email         Phone_number
0      dwiandriani@example.org  +62 (0369) 596 4303
1           joko47@example.com      (0803) 225-4846
2        vsitompul@example.org       (058) 380-6584
3        elatupono@example.net    +62 (45) 784 8127
4          zjanuar@example.net     +62-892-430-6124
5     ramadanmaman@example.org     +62-063-980-8381
6     usadalintang@example.org  +62 (0324) 012 0207
7  lestaridarmanto@example.com    +62 (19) 739-0265
8      yanisaputra@example.com    +62 (27) 107 5604
9  mahfudhandayani@example.net    +62 (62) 592-7865